<!DOCTYPE html>
<html>

<head>
	<title>Mutual</title>
	<meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/landing.css" rel="stylesheet">      
	<link href="/css/app.css" rel="stylesheet">      

</head>

<body>
  <div class="box">
    <p style="text-align:center"><img width="225" height="225" class="logo" src="images/mutualLogo.png" alt="531643c1e37fea441e00003e_logo.PNG"></p>
    <div class="description" style="text-align: center;"><strong>Mutual</strong> allows you to recommend that your facebook friends meet and allows your friends to do the same for you! <strong>Thus using the power of existing friendships to form new ones.</strong>
    </div>
    <p style="text-align:center">
      <a class="button" href="{{fb_login_url}}">Sign in using Facebook to get started!</a>
    </p>
  </div>
</body></html>
