<!DOCTYPE html>
<html>

<head>
  <title>Mutual</title>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/recommendation.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

<body>

  <div class="navigation-bar" id="recommendation-navigation">
    <div class="left-button">Back</div>
    <div id="mutualHeader" class="mutual-header">Mutual</div>
  </div>

  <div class="namefield-container">

    <form>
      <label>Enter Person:</label>
      <input class="person-name" type="text"></input>
    </form>

  </div>

  <div class="friend-list">
    {{#each data}}
    <div class="friend-tile">
      <span class="friend-tile-name">{{name}}</span>
      <span class="friend-tile-facebookid">{{id}}</span>
    </div>
    {{/each}}
  </div>

	<div class="peopleselector">
    
    <img id="person-selector1" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="image-placeholder.svg">
    <img id="person-selector2" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" alt="image-placeholder.svg">
    <div class="person1-label">Person 1</div>
    <div class="person2-label">Person 2</div>

  </div>

  <div class="formWrapper">

    <form method="get" id="reco-form" action="/submit_reco" name="wf-form-person-form" data-name="Person Form">

      <input type="hidden" id="person1firstname" name="person1firstname"></input>
      <input type="hidden" id="person1lastname" name="person1lastname"></input>
      <input type="hidden" id="person1fbid" name="person1fbid"></input>
      
      <input type="hidden" id="person2firstname" name="person2firstname"></input>
      <input type="hidden" id="person2lastname" name="person2lastname"></input>
      <input type="hidden" id="person2fbid" name="person2fbid"></input>
      
      <label class="recommendationlabel" for="phone1">Person 1 phone #:</label>
      <input class="formInput" type="text" placeholder="(XXX) XXX-XXXX" name="person1number" data-name="person1Number" id="number1" required="required"></input>

      <label class="recommendationlabel" for="phone2">Person 2 phone #:</label>
      <input class="formInput" type="text" placeholder="(XXX) XXX-XXXX" name="person2number" data-name="person2Number" id="number2" required="required"></input>

      <label class="recommendationlabel" for="text1">Message to Person 1:</label>
      <textarea class="formInput" placeholder="Why should Person 1 meet Person 2?" name="text1" data-name="text1" id="text1" required="required"></textarea>

      <label class="recommendationlabel" for="text2">Message to Person 2:</label>
      <textarea class="formInput" placeholder="Why should Person 2 meet Person 1?" name="text2" data-name="text2" id="text2" required="required"></textarea>

      <input class="submitbutton" type="submit" value="Submit" data-wait="Please wait..."></input>
    
    </form>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48455838-2', 'mutual.herokuapp.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
