/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}


body {
  max-height: 1000px;
  max-width: 320px;
  font-family: -apple-system-font;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  padding-top: 60px;
  margin: 0px;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navigation-bar {
  height: 60px;
  width: 100%;
  float: none;
  background-color: #ff9696;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0px;
}

.left-button {
  position: static;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  padding-top: 21px;
  margin-left: 21px;
  float: left;
  clear: none;
  color: white;
  font-size: 16px;
  line-height: 19px;
}
.right-button {
  position: static;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  padding-top: 21px;
  margin-right: 21px;
  float: right;
  clear: none;
  color: white;
  font-size: 16px;
  text-align: left;
}
.mutual-header {
  display: block;
  padding-top: 19px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  float: none;
  color: white;
  font-size: 28px;
  text-align: center;
}
