
#back-button {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;

  margin: 30px 0px 40px 40px;
  padding-top: 30px;
  padding-left: 15px;
  float: none;
  background-color: #D1DBBD;
  font-family: Arial, Helvetica, sans-serif;
  color: #D1DBBD;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
}
.peopleselector {
  height: 200px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #fffad5;
  display: none;
}
.person-selector {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 50px;
  border: 1px solid #105B63;
}
.submitbutton {
  display: block;
  width: 90px;
  height: 40px;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border-radius: 5px;
  border: 0px;
  background-color: #105B63;
  color: white;
}
.person1-label {
  width: 130px;
  margin-top: 10px;
  margin-left: 25px;
  float: left;
  text-align: center;
}
.person2-label {
  width: 130px;
  margin-top: 10px;
  margin-right: 23px;
  float: right;
  text-align: center;
}

.formWrapper {
  margin: 30px;  
  display: none;
}
.formInput {
  width: 90%;
  display: block;
  background-color: #FFFFFF;
  border-radius: 2px;
  margin-bottom: 10px;
}
.recommendationlabel {
  color: #002f2f;
}
