
#back-button {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;

  margin: 30px 0px 40px 40px;
  padding-top: 30px;
  padding-left: 15px;
  float: none;
  background-color: #D1DBBD;
  color: #D1DBBD;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
}
.peopleselector {
  height: 200px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #ECF3ED;
  display: none;
}
.peopleselector img {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 50px;
  border: 1px solid #5FA4A1;
}
.submitbutton {
  display: block;
  width: 90px;
  height: 40px;
  margin: 20px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border-radius: 5px;
  border: 0px;
  background-color: #72C4C0;
  color: white;
}
.person1-label {
  width: 130px;
  margin-top: 10px;
  margin-left: 24px;
  float: left;
  text-align: center;
}
.person2-label {
  width: 130px;
  margin-top: 10px;
  margin-right: 21px;
  float: right;
  text-align: center;
}

.formWrapper {
  margin: 30px;  
  margin-bottom: 0px;
  display: none;
}
.formInput {
  width: 90%;
  display: block;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #5FA4A1;
  margin-bottom: 10px;
}
.recommendationlabel {
  color: #002f2f;
}
.namefield-container {
  padding: 25px;
}
.friend-tile-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.friend-tile-name {
  padding-left: 15px;
}
.friend-tile {
  height: auto;
  padding: 10px;
  background: #ECF3ED;
  font-size: 14px;
  border-bottom: 1px dashed #5FA4A1;
}
.friend-search {
  padding-left: 25px;
}

.friend-tile-facebookid {
  display: none;
}

.person-name {
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #5FA4A1;
}
.directions {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
.submit-warning {
  font-size: 11px;
}
